<md-sidenav-container> 
  <md-toolbar color="primary" >
    <button md-icon-button (click)="nav.open()" > <md-icon class="black-txt">menu</md-icon> </button>
    <span class="black-txt toolbar-margin">HipApp</span>
    <span class="fill-space"></span>
    <button md-fab (click)="playlist.open()" class="fab-play black-bg">
       <md-icon>playlist_play</md-icon> 
    </button>
  </md-toolbar>

    <md-sidenav class="sidenav-dim" #nav mode="push" align="start" opened="false">
      <button md-icon-button class="black-bg icon-close" (click)="nav.close()">
         <md-icon style="color: white;">close</md-icon> 
      </button>
      <hr>

      <div class="link-content" >
        <a routerLink="/music">
        <span class="black-txt">
          <button md-icon-button>
            <md-icon class="black-txt">library_music</md-icon>
          </button > Musique
        </span>  
        </a>
        <br>
        <a routerLink="/blog">
          <span class="black-txt">
            <button md-icon-button>
              <md-icon class="black-txt">people</md-icon>
            </button > Social
        </span>
        </a>
        <br>
        <a routerLink="/market">
          <span class="black-txt">
            <button md-icon-button>
              <md-icon class="black-txt">shopping_basket</md-icon>
            </button > Boutique
        </span>
        </a>

      </div>
      <hr>
    </md-sidenav>
    <md-sidenav class="sidenav-dim" #playlist mode="push" align="end" opened="false">
      <button md-icon-button class="black-bg icon-close" (click)="playlist.close()">
         <md-icon style="color: white;">close</md-icon> 
      </button>
      <span style="font-weight: 20; font-size: 22px;margin-top: 5px;"><strong>Playlist</strong>  </span>
      <hr>

    </md-sidenav>

    <router-outlet></router-outlet>
</md-sidenav-container>