<div class="home-bg" style="text-align: center;">
  <br> 
  <strong class="home-txt">Le Hip Hop Senegalais devient social avec HipApp</strong>
  <br>
  <br>
  <strong class="home-txt">Découvrez, Partagez, Achetez, c'est comme vous voulez</strong>
  <br>
  <br>
  <button md-raised-button style="background-color: dodgerblue; color: white;">
    Se connecter/Creer un compte via Facebook
  </button>
  <br>
  <br>
  <strong class="home-txt">Pour acceder à nos fonctionnalitées</strong>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-10">
      <md-card  routerLink="/music"  class="card-margin">
          <md-card-title-group>
            <md-icon md-card-sm-image class="big-icon">playlist_play</md-icon>
            <md-card-title>Musique</md-card-title>
            <md-card-subtitle>
              <button md-mini-fab class="black-bg" style="color: red;">
                 ?
              </button>
            </md-card-subtitle>
            </md-card-title-group>
      </md-card>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-10">
     <md-card routerLink="/blog" class="card-margin">
          <md-card-title-group>
              <md-icon md-card-sm-image class="big-icon">people</md-icon>
              <md-card-title>Social</md-card-title>
              <md-card-subtitle>
                <button md-mini-fab class="black-bg" style="color: red;">
                  ?
                </button>
              </md-card-subtitle>
            </md-card-title-group>
      </md-card>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-10">
      <md-card routerLink="/market" class="card-margin">
          <md-card-title-group>
              <md-icon md-card-sm-image class="big-icon">shopping_cart</md-icon>
              <md-card-title>Boutique</md-card-title>
              <md-card-subtitle>
                <button md-mini-fab class="black-bg" style="color: red;">
                  ?
                </button>
              </md-card-subtitle>
            </md-card-title-group>
      </md-card>
    </div>
  </div>
</div>